.vscode
results*
grad*
para*
*.pt
*.pyc
*.pkl

__pycache__
test
plot.py
study
*.hdf5

examples/computational_graph/*
examples/nn_embedded_fwi/model_representation/implicit_visacoustic
examples/nn_embedded_fwi/model_representation/encoder_decoder_elastic2
examples/nn_embedded_fwi/model_representation/anisotropic
examples/nn_embedded_fwi/model_representation/super_resolution
examples/nn_embedded_fwi/lstm
examples/regularization/denoise
examples/check_features/pml
examples/sth_interesting
examples/rtm/stand_alone
examples/random_boundaries
examples/tools
examples/models/2007bp
seistorch/equations2d_jax